    

<div class='homebody'>

  <h2>Welcome To Project Cookbook</h2>

  <br>

  <p><%= link_to 'Register As A New User', new_user_path %> <br><br> <p>

    <p><%= link_to 'Login As An Existing User', new_session_path %> <br> <br> </p>

    <p><%= link_to 'View All Current Recipes', recipes_path %> <br> <br></p>

    <p><%= link_to 'View All Current Categories', categories_path %> <br> <br> </p>

    <p><%= link_to 'View All Current Ingredients',ingredients_path%> <br> <br></p>


  </div>
  


  