<div class='addcategory'>
  <h1>Please Add Your Category</h1>
</div>

<br>

<div class='categoryform'>
  <% if can? :update, @recipe %>
  <%= form_for @categories do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  

  <%= f.submit 'Add The Category!' %>
  <% end %>

  <p><%= link_to "Back to categories", categories_path %></p>  
</div>  
</div>
<% end %>
